* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

.header {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    background-color: #1F2937;
    font-family: "Roboto", sans-serif;
}

.header.logo {
    color: #F9FAF8;
}

.navi ul {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
    color: #E5E7EB;
}

/* Hero */

.hero {
    display: flex;
    justify-content: center;
}

.content {
    flex-direction: column;
    width: 600px;
}

.outer img {
    width: 600px;
    height: auto;
    align-self: center;
}


